###### Importing Libraries we need

In [1]:
import json
import csv
import requests
from pprint import pprint
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
import scipy.stats as st
from scipy.stats import linregress
from IPython.display import clear_output
import pandas as pd
import plotly
import plotly.express as px
import plotly.offline as py
import plotly.graph_objs as go
import statsmodels

###### went to https://crashviewer.nhtsa.dot.gov/CrashAPI and got the list of states and built a dictionary off of it

In [2]:
state_id = {1:["Alabama","AL"],
            2:["Alaska","AK"],
            4:["Arizona","AZ"],
            5:["Arkansas","AR"],
            6:["California","CA"],
            8:["Colorado","CO"],
            9:["Conneticut","CT"],
            10:["Delaware", "DE"],
            11:["District of Columbia","DC"],
            12:["Florida","FL"],
            13:["Georgia", "GA"],
            15:["Hawaii","HI"],
            16:["Idaho","ID"],
            17:["Illinois","IL"],
            18:["Indiana","IN"],
            19:["Iowa", "IA"],
            20:["Kansas", "KS"],
            21:["Kentucky","KY"],
            22:["Louisiana","LA"],
            23:["Maine","ME"],
            24:["Maryland","MD"],
            25:["Massachusetts","MA"],
            26:["Michigan","MI"],
            27:["Minnesota","MN"],
            28:["Mississippi","MS"],
            29:["Missouri","MO"],
            30:["Montana","MT"],
            31:["Nebraska","NB"],
            32:["Nevada","NV"],
            33:["New Hampshire","NH"],
            34:["New Jersey","NJ"],
            35:["New Mexico","NM"],
            36:["New York","NY"],
            37:["North Carolina","NC"],
            38:["North Dakota","ND"],
            39:["Ohio","OH"],
            40:["Oklahoma","OK"],
            41:["Oregon","OR"],
            42:["Pennsylvania","PA"],
            43:"Puerto Rico",
            44:["Rhode Island","RI"],
            45:["South Carolina","SC"],
            46:["South Dakota","SD"],
            47:["Tennessee","TN"],
            48:["Texas","TX"],
            49:["Utah","UT"],
            50:["Vermont","VT"],
            51:["Virginia","VA"],
            52:"Virgin Islands",
            53:["Washington", "WA"],
            54:["West Virginia","WV"],
            55:["Wisconsin","WI"],
            56:["Wyoming","WY"]}

###### Create a while loop for user input

In [3]:
state_list=["6","8","12","17","36","39","42","48"]
state_name_list = ["California","Colorado", "Florida", "Illinois", "New York", "Ohio","Pennsylvania","Texas"]
inquiry = str
while inquiry != "done" or inquiry != "" or  (len(state_name_list)) == '10':
    print(f"By default there is\n {state_list} \n {state_name_list}")
    print(len(state_name_list))
    print("there is a limit of 10 states ")
    inquiry = input("Please input the state you are interested in getting Data for by Name or code (ex : CO for Colorado). if you are done type done")
    
    if inquiry == "done":
                    break
    elif len(state_name_list) == 9:
        for i in state_id:
                        if inquiry == state_id[i][0] or inquiry == state_id[i][1]:
                            state_num = i
                            state_list.append(state_num)
                            state_name_list.append(inquiry)
                            print(f"{inquiry} added")
                            clear_output()
        break
        
    else:
                    for i in state_id:
                        if inquiry == state_id[i][0] or inquiry == state_id[i][1]:
                            state_num = i
                            state_list.append(state_num)
                            state_name_list.append(inquiry)
                            print(f"{inquiry} added")
                            clear_output()
                    
print(f"You added {state_name_list} to the list")

By default there is
 ['6', '8', '12', '17', '36', '39', '42', '48']
 ['California', 'Colorado', 'Florida', 'Illinois', 'New York', 'Ohio', 'Pennsylvania', 'Texas']
8
there is a limit of 10 states
Please input the state you are interested in getting Data for by Name or code (ex : CO for Colorado). if you are done type donedone
You added ['California', 'Colorado', 'Florida', 'Illinois', 'New York', 'Ohio', 'Pennsylvania', 'Texas'] to the list

###### Get Results for selected states in JSON format

In [71]:
# collect query results for selected states
url = "https://crashviewer.nhtsa.dot.gov/CrashAPI/analytics/GetInjurySeverityCounts?"
FromYear = "2008"
ToYear = "2018"
Results2 = []
result ={}
count = 0

for State in state_list:
    query_url = url + "fromCaseYear=" + FromYear + "&toCaseYear=" + ToYear + "&state=" + State + "&county=" + "&format=json"
    response = requests.get(query_url).json()
    Results2.append(response["Results"][0])

In [79]:
record_count = 1
set_count = 1
# Loop through all the cities in our list
crash_data=[]
url = "https://crashviewer.nhtsa.dot.gov/CrashAPI/analytics/GetInjurySeverityCounts?"
for i, State in enumerate(state_list):
        
    # Group cities in sets of 50 for logging purposes
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 0
    # Create endpoint URL with each city
    query_url = (f"{url}fromCaseYear={FromYear}&toCaseYear={ToYear}&state={State}&county=&format=json")
    
    # Log the url, record, and set numbers
    print("Processing Record %s of Set %s | %s" % (record_count, set_count, State))
    # Add 1 to the record count
    record_count += 1
    # Run an API request for each of the cities
    try:
        # Parse the JSON and retrieve data
        state_data = requests.get(query_url).json()
        print(state_data)
        # Parse out the CaseYear, CrashCounts, and TotalFatalCounts
        caseY = state_data["Results"][0]["CaseYear"]
        print(caseY)
        crashC = state_data["CrashCounts"]
        print(caseY)
        totFat = statedata["CrashCounts"]
        print(totFat)
        state = ['State']
        print(state)
        # Append the City information into city_data list
        crash_data.append({"State": state,
                           "Year":caseY,
                          "Crash Count": crashC, 
                          "Total Fatalities": totFat})
        
    except:
        print("Something went horrible wrong" )
        pass
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------") 
crash_data

Processing Record 1 of Set 1 | 6
{'Count': 9, 'Message': 'Results returned successfully', 'Results': [[{'CaseYear': '2010', 'CrashCounts': 2504, 'TotalFatalCounts': 2720}, {'CaseYear': '2011', 'CrashCounts': 2617, 'TotalFatalCounts': 2816}, {'CaseYear': '2012', 'CrashCounts': 2733, 'TotalFatalCounts': 2966}, {'CaseYear': '2013', 'CrashCounts': 2860, 'TotalFatalCounts': 3107}, {'CaseYear': '2014', 'CrashCounts': 2859, 'TotalFatalCounts': 3102}, {'CaseYear': '2015', 'CrashCounts': 3123, 'TotalFatalCounts': 3387}, {'CaseYear': '2016', 'CrashCounts': 3540, 'TotalFatalCounts': 3837}, {'CaseYear': '2017', 'CrashCounts': 3569, 'TotalFatalCounts': 3884}, {'CaseYear': '2018', 'CrashCounts': 3259, 'TotalFatalCounts': 3563}]], 'SearchCriteria': 'FromYear: 2008 | ToYear: 2018 | State: 6'}
Something went horrible wrong
Processing Record 2 of Set 1 | 8
{'Count': 9, 'Message': 'Results returned successfully', 'Results': [[{'CaseYear': '2010', 'CrashCounts': 411, 'TotalFatalCounts': 450}, {'CaseYear': '2011', 'CrashCounts': 407, 'TotalFatalCounts': 447}, {'CaseYear': '2012', 'CrashCounts': 434, 'TotalFatalCounts': 474}, {'CaseYear': '2013', 'CrashCounts': 432, 'TotalFatalCounts': 482}, {'CaseYear': '2014', 'CrashCounts': 451, 'TotalFatalCounts': 488}, {'CaseYear': '2015', 'CrashCounts': 507, 'TotalFatalCounts': 547}, {'CaseYear': '2016', 'CrashCounts': 558, 'TotalFatalCounts': 608}, {'CaseYear': '2017', 'CrashCounts': 600, 'TotalFatalCounts': 648}, {'CaseYear': '2018', 'CrashCounts': 588, 'TotalFatalCounts': 632}]], 'SearchCriteria': 'FromYear: 2008 | ToYear: 2018 | State: 8'}
Something went horrible wrong
Processing Record 3 of Set 1 | 12
{'Count': 9, 'Message': 'Results returned successfully', 'Results': [[{'CaseYear': '2010', 'CrashCounts': 2261, 'TotalFatalCounts': 2444}, {'CaseYear': '2011', 'CrashCounts': 2212, 'TotalFatalCounts': 2400}, {'CaseYear': '2012', 'CrashCounts': 2253, 'TotalFatalCounts': 2431}, {'CaseYear': '2013', 'CrashCounts': 2223, 'TotalFatalCounts': 2403}, {'CaseYear': '2014', 'CrashCounts': 2336, 'TotalFatalCounts': 2494}, {'CaseYear': '2015', 'CrashCounts': 2699, 'TotalFatalCounts': 2938}, {'CaseYear': '2016', 'CrashCounts': 2935, 'TotalFatalCounts': 3176}, {'CaseYear': '2017', 'CrashCounts': 2925, 'TotalFatalCounts': 3116}, {'CaseYear': '2018', 'CrashCounts': 2915, 'TotalFatalCounts': 3133}]], 'SearchCriteria': 'FromYear: 2008 | ToYear: 2018 | State: 12'}
Something went horrible wrong
Processing Record 4 of Set 1 | 17
{'Count': 9, 'Message': 'Results returned successfully', 'Results': [[{'CaseYear': '2010', 'CrashCounts': 858, 'TotalFatalCounts': 927}, {'CaseYear': '2011', 'CrashCounts': 835, 'TotalFatalCounts': 918}, {'CaseYear': '2012', 'CrashCounts': 886, 'TotalFatalCounts': 956}, {'CaseYear': '2013', 'CrashCounts': 895, 'TotalFatalCounts': 991}, {'CaseYear': '2014', 'CrashCounts': 845, 'TotalFatalCounts': 924}, {'CaseYear': '2015', 'CrashCounts': 914, 'TotalFatalCounts': 998}, {'CaseYear': '2016', 'CrashCounts': 1000, 'TotalFatalCounts': 1078}, {'CaseYear': '2017', 'CrashCounts': 998, 'TotalFatalCounts': 1090}, {'CaseYear': '2018', 'CrashCounts': 948, 'TotalFatalCounts': 1031}]], 'SearchCriteria': 'FromYear: 2008 | ToYear: 2018 | State: 17'}
Something went horrible wrong
Processing Record 5 of Set 1 | 36
{'Count': 9, 'Message': 'Results returned successfully', 'Results': [[{'CaseYear': '2010', 'CrashCounts': 1128, 'TotalFatalCounts': 1201}, {'CaseYear': '2011', 'CrashCounts': 1093, 'TotalFatalCounts': 1171}, {'CaseYear': '2012', 'CrashCounts': 1096, 'TotalFatalCounts': 1180}, {'CaseYear': '2013', 'CrashCounts': 1124, 'TotalFatalCounts': 1202}, {'CaseYear': '2014', 'CrashCounts': 980, 'TotalFatalCounts': 1041}, {'CaseYear': '2015', 'CrashCounts': 1061, 'TotalFatalCounts': 1136}, {'CaseYear': '2016', 'CrashCounts': 981, 'TotalFatalCounts': 1041}, {'CaseYear': '2017', 'CrashCounts': 939, 'TotalFatalCounts': 1006}, {'CaseYear': '2018', 'CrashCounts': 889, 'TotalFatalCounts': 943}]], 'SearchCriteria': 'FromYear: 2008 | ToYear: 2018 | State: 36'}
Something went horrible wrong
Processing Record 6 of Set 1 | 39
{'Count': 9, 'Message': 'Results returned successfully', 'Results': [[{'CaseYear': '2010', 'CrashCounts': 984, 'TotalFatalCounts': 1080}, {'CaseYear': '2011', 'CrashCounts': 942, 'TotalFatalCounts': 1017}, {'CaseYear': '2012', 'CrashCounts': 1022, 'TotalFatalCounts': 1121}, {'CaseYear': '2013', 'CrashCounts': 917, 'TotalFatalCounts': 989}, {'CaseYear': '2014', 'CrashCounts': 917, 'TotalFatalCounts': 1006}, {'CaseYear': '2015', 'CrashCounts': 1029, 'TotalFatalCounts': 1110}, {'CaseYear': '2016', 'CrashCounts': 1053, 'TotalFatalCounts': 1132}, {'CaseYear': '2017', 'CrashCounts': 1094, 'TotalFatalCounts': 1179}, {'CaseYear': '2018', 'CrashCounts': 996, 'TotalFatalCounts': 1068}]], 'SearchCriteria': 'FromYear: 2008 | ToYear: 2018 | State: 39'}
Something went horrible wrong
Processing Record 7 of Set 1 | 42
{'Count': 9, 'Message': 'Results returned successfully', 'Results': [[{'CaseYear': '2010', 'CrashCounts': 1208, 'TotalFatalCounts': 1324}, {'CaseYear': '2011', 'CrashCounts': 1191, 'TotalFatalCounts': 1286}, {'CaseYear': '2012', 'CrashCounts': 1211, 'TotalFatalCounts': 1310}, {'CaseYear': '2013', 'CrashCounts': 1119, 'TotalFatalCounts': 1210}, {'CaseYear': '2014', 'CrashCounts': 1107, 'TotalFatalCounts': 1195}, {'CaseYear': '2015', 'CrashCounts': 1102, 'TotalFatalCounts': 1200}, {'CaseYear': '2016', 'CrashCounts': 1088, 'TotalFatalCounts': 1188}, {'CaseYear': '2017', 'CrashCounts': 1083, 'TotalFatalCounts': 1137}, {'CaseYear': '2018', 'CrashCounts': 1103, 'TotalFatalCounts': 1190}]], 'SearchCriteria': 'FromYear: 2008 | ToYear: 2018 | State: 42'}
Something went horrible wrong
Processing Record 8 of Set 1 | 48
{'Count': 9, 'Message': 'Results returned successfully', 'Results': [[{'CaseYear': '2010', 'CrashCounts': 2746, 'TotalFatalCounts': 3023}, {'CaseYear': '2011', 'CrashCounts': 2790, 'TotalFatalCounts': 3054}, {'CaseYear': '2012', 'CrashCounts': 3033, 'TotalFatalCounts': 3408}, {'CaseYear': '2013', 'CrashCounts': 3047, 'TotalFatalCounts': 3389}, {'CaseYear': '2014', 'CrashCounts': 3190, 'TotalFatalCounts': 3536}, {'CaseYear': '2015', 'CrashCounts': 3190, 'TotalFatalCounts': 3582}, {'CaseYear': '2016', 'CrashCounts': 3427, 'TotalFatalCounts': 3797}, {'CaseYear': '2017', 'CrashCounts': 3352, 'TotalFatalCounts': 3732}, {'CaseYear': '2018', 'CrashCounts': 3305, 'TotalFatalCounts': 3642}]], 'SearchCriteria': 'FromYear: 2008 | ToYear: 2018 | State: 48'}
Something went horrible wrong
-----------------------------
Data Retrieval Complete
-----------------------------

[]

###### Build a series of the Data

In [33]:
State_Results = []
counter = 0
for i in [i for i,x in enumerate(state_list)]:
    State_Results.append(Results2[counter])
    counter += 1
#State_Results
print(f"{State_Results}")

[{'CaseYear': '2010', 'CrashCounts': 2504, 'TotalFatalCounts': 2720}, {'CaseYear': '2011', 'CrashCounts': 407, 'TotalFatalCounts': 447}, {'CaseYear': '2012', 'CrashCounts': 2253, 'TotalFatalCounts': 2431}, {'CaseYear': '2013', 'CrashCounts': 895, 'TotalFatalCounts': 991}, {'CaseYear': '2014', 'CrashCounts': 980, 'TotalFatalCounts': 1041}, {'CaseYear': '2015', 'CrashCounts': 1029, 'TotalFatalCounts': 1110}, {'CaseYear': '2016', 'CrashCounts': 1088, 'TotalFatalCounts': 1188}, {'CaseYear': '2017', 'CrashCounts': 3352, 'TotalFatalCounts': 3732}]

###### Build a Dictionary of the data with State Name as  the key

In [25]:
#predf=dict(zip(state_name_list, Results2))
df_dict={}
counter = 0
for i,name in enumerate(state_name_list):
    df_dict = pd.DataFrame(Results2[i])
#     counter += 1
    
# predf = {state_name_list[i]: Results2[i] for i in range(len(state_name_list))} 
# for key, value in df_dict[name.items() :
#      pd.DataFrame.from_dict(df_dict,index=state_name_list )
# for key in df_dict.keys():
#      pd.DataFrame.from_dict(df_dict, orient='index')

In [26]:
df_dict

  CaseYear  CrashCounts  TotalFatalCounts
0     2010         2746              3023
1     2011         2790              3054
2     2012         3033              3408
3     2013         3047              3389
4     2014         3190              3536
5     2015         3190              3582
6     2016         3427              3797
7     2017         3352              3732
8     2018         3305              3642